<div>
  <header>
    <h1>Mode d'emploi</h1>
  </header>
  <br>
  <div>
    <h2>Playlist</h2>
    <div>

    </div>
    <h2>Youtube</h2>
    <div>
      <h3>Rechercher une vidéo</h3>
      <p>Pour rechercher un vidéo YouTube, il suffit d’écrire ce que l’on cherche dans la barre de recherche.</p>
      <img src="assets/imgTutorial/fr/YouTube/searchBarYoutube.png" alt="Barre de recherche YouTube">
      <p>Dans l’exemple ci-dessous, je recherche des vidéos Youtube de “Pokora”.</p>
      <img src="assets/imgTutorial/fr/YouTube/searchBarYoutubeExemple.png" alt="Barre de recherche YouTube rempli">
      <p>Après quelques secondes, voici ce que j’obtient :</p>
      <img src="assets/imgTutorial/fr/YouTube/resultSearchYoutube.png" alt="Les résultats de la recherche YouTube">
      <p>Cette liste de vidéos lié à notre recherche peut afficher jusqu’à 50 vidéos par recherche.</p>

      <h3>Ajouter une vidéo à la playlist</h3>
      <p>Pour ajouter une vidéo YouTube dans notre playlist, il suffit de cliquer sur le bandeau vert “Ajouter à la Playlist”.</p>
      <img src="/assets/imgTutorial/fr/YouTube/btnAddVideoYoutube.png" alt="Bouton pour ajouter une vidéo YouTube dans la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient rouge et une notification apparaît nous indiquant que la vidéo a bien été ajouter à notre playlist.</p>
      <img src="assets/imgTutorial/fr/YouTube/notifAddVideoYoutube.png" alt="Notification pour dire que la vidéo choisie a bien été ajouté a la playlist">

      <h3>Supprimer une vidéo de la playlist</h3>
      <p>Pour supprimer une vidéo YouTube de notre playlist, il suffit de cliquer sur le bandeau rouge “Supprimer de la Playlist”.</p>
      <img src="assets/imgTutorial/fr/YouTube/btnDeleteVideoYoutube.png" alt="Bouton pour supprimer une vidéo YouTube de la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient vert et une notification apparaît nous indiquant que la vidéo a bien été supprimer de notre playlist.</p>
      <img src="assets/imgTutorial/fr/YouTube/notifDeleteVideoYoutube.png" alt="Notification pour dire que la vidéo choisie a bien été supprimé de la playlist">
    </div>
    <h2>Spotify</h2>
    <div>
      <h3>Page d'accueil</h3>
      <p>Lorsque l’on arrive sur la page Spotify, on obtient sa :</p>
      <img src="assets/imgTutorial/fr/Spotify/homeSpotify.png" alt="La page d'accueil de Spotify">
      <p>Cette page contient :</p>
      <ul>
        <li>Une liste des dernières musiques sorties sur Spotify</li>
        <li>Un menu vertical en haut à gauche permettant :</li>
        <ul>
          <li>De retourner à l’accueil</li>
          <li>D’accèder a la barre de recherche de musique sur Spotify</li>
          <li>De retourner à la playlist</li>
        </ul>
      </ul>
      <p>Le menu vertical suis l’utilisateur et sera disponible sur n’importe quelle page Spotify.</p>

      <h3>Rechercher un artist</h3>
      <p>Pour faire une recherche d’artist sur Spotify, il faut pour commencer cliquer sur le bouton “Recherche” dans le menu vertical en haut à gauche.</p>
      <img src="assets/imgTutorial/fr/Spotify/btnSearchMusicSpotify.png" alt="Le bouton pour faire une recherche de musique sur Spotify">
      <p>Ensuite on arrive sur la page de recherche Spotify qui ressemble à sa :</p>
      <img src="assets/imgTutorial/fr/Spotify/searchBarSpotify.png" alt="La barre de recherche Spotify">
      <p>Pour avoir son artist, il faut juste l’écrire dans la barre de recherche.</p>
      <p>Dans l’exemple ci-dessous, je cherche l’artist “Pokora”.</p>
      <img src="assets/imgTutorial/fr/Spotify/searchBarSpotifyExemple.png" alt="La barre de recherche Spotify rempli">
      <p>Voila ce que j’obtient :</p>
      <img src="assets/imgTutorial/fr/Spotify/resultSearchSpotify.png" alt="Les résultats de la recherche Spotify">

      <h3>Liste des albums d'un artist</h3>
      <p>Pour avoir la liste des albums d’un artist, il faut cliquer sur l’artist que l’on a recherché.</p>
      <p>Dans l’exemple ci-dessous, je veux les albums de “Pokora” donc je clique sur l’artist “Pokora.</p>
      <img src="assets/imgTutorial/fr/Spotify/wantAlbumsArtistSpotify.png" alt="Avoir les albums d'un artist sur Spotify">
      <p>Après avoir cliquer sur l’artist, on arrive sur cette page :</p>
      <img src="assets/imgTutorial/fr/Spotify/artistPageSpotify.png" alt="La page de l'artist avec tous ces albums">
      <p>Cette page contient :</p>
      <ul>
        <li>L’image de l’artist</li>
        <li>Son nom</li>
        <li>Son nombre d’abonnés</li>
        <li>Un bouton permettant de retourner sur la page de recherche</li>
        <li>La liste de ces albums disponible sur Spotify</li>
      </ul>

      <h3>Liste des musiques d'un album</h3>
      <p>Pour avoir les musiques d’un album, il faut cliquer sur l’album dont on veut les musique.</p>
      <p>Dans l’exemple ci-dessous, je veux les musiques de l’album “Pyramide” de “Pokora” donc je clique sur l’album.</p>
      <img src="assets/imgTutorial/fr/Spotify/artistPageSpotify.png" alt="Avoir toutes les musiques d'un album sur Spotify">
      <p>Après avoir cliquer sur l’artist, on arrive sur cette page :</p>
      <img src="assets/imgTutorial/fr/Spotify/albumPageSpotify.png" alt="Avoir toutes les musiques d'un album sur Spotify">
      <p>Cette page contient :</p>
      <ul>
        <li>L’image de l’album</li>
        <li>Son nom</li>
        <li>Un bouton permettant de retourner sur la page de l’artist de cette album</li>
        <li>Un bouton permettant d’ajouter toutes les musiques de l’album à la playlist</li>
        <li>Un bouton permettant de supprimer toutes les musiques de l’album de la playlist</li>
        <li>Un lecteur audio pour chaques musiques</li>
        <li>Un bouton a côté de chaques musiques permettant d’ajouter ou supprimer la musique de la playlist</li>
      </ul>

      <h3>Ajouter une musique à la playlist</h3>
      <p>Pour ajouter une musique Spotify dans notre playlist, il suffit de cliquer sur le bandeau vert “Ajouter à la Playlist”.</p>
      <img src="assets/imgTutorial/fr/Spotify/btnAddMusicSpotify.png" alt="Ajouter une musique Spotify dans la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient rouge et une notification apparaît nous indiquant que la musique a bien été ajouter à notre playlist.</p>
      <img src="assets/imgTutorial/fr/Spotify/notifAddMusicSpotify.png" alt="Notification d'ajout de la musique dans la playlist">

      <h3>Supprimer une musique de la playlist</h3>
      <p>Pour supprimer une musique Spotify de notre playlist, il suffit de cliquer sur le bandeau rouge “Supprimer de la Playlist”.</p>
      <img src="assets/imgTutorial/fr/Spotify/btnDeleteMusicSpotify.png" alt="Supprimer une musique Spotify dans la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient vert et une notification apparaît nous indiquant que la musique a bien été supprimer de notre playlist.</p>
      <img src="assets/imgTutorial/fr/Spotify/notifDeleteMusicSpotify.png" alt="Notification de supression de la musique de la playlist">

    </div>
    <h2>Deezer</h2>
    <div>
      <h3>Page d'accueil</h3>
      <h3>Rechercher un artist</h3>
      <h3>Liste des albums d'un artist</h3>
      <h3>Liste des musiques d'un album</h3>
      <h3>Ajouter une musique à la playlist</h3>
      <h3>Supprimer une musique de la playlist</h3>
    </div>
  </div>
</div>
