<div>
  <header>
    <h1>Mode d'emploi</h1>
  </header>
  <br>
  <div>
    <h2>Playlist</h2>
    <div>

    </div>
    <h2>Youtube</h2>
    <div>
      <h3>Rechercher une vidéo</h3>
      <h3>Ajouter une vidéo à la playlist</h3>
      <h3>Supprimer une vidéo de la playlist</h3>
    </div>
    <h2>Spotify</h2>
    <div>
      <h3>Page d'accueil</h3>
      <h3>Rechercher un artist</h3>
      <h3>Liste des albums d'un artist</h3>
      <h3>Liste des musiques d'un album</h3>
      <h3>Ajouter une musique à la playlist</h3>
      <h3>Supprimer une musique de la playlist</h3>
    </div>
    <h2>Deezer</h2>
    <div>
      <h3>Page d'accueil</h3>
      <h3>Rechercher un artist</h3>
      <h3>Liste des albums d'un artist</h3>
      <h3>Liste des musiques d'un album</h3>
      <h3>Ajouter une musique à la playlist</h3>
      <h3>Supprimer une musique de la playlist</h3>
    </div>
  </div>
</div>
