<div>
  <header>
    <h1>Mode d'emploi Deezer</h1>
  </header>
  <br>
  <div>
      <h2>Page d'accueil</h2>
      <p>Lorsque l’on arrive sur la page Deezer, on obtient sa :</p>
      <img src="assets/imgTutorial/fr/Deezer/homeDeezer.png" alt="La page d'accueil de Deezer">
      <p>Cette page contient :</p>
      <ul>
        <li>Une barre de recherche</li>
        <li>Un menu vertical en haut à gauche permettant :</li>
        <ul>
          <li>De retourner à l’accueil</li>
          <li>De retourner à la playlist</li>
        </ul>
      </ul>
      <p>Le menu vertical suis l’utilisateur et sera disponible sur n’importe quelle page Spotify.</p>

      <h2>Rechercher un artist</h2>
      <p>Pour avoir son artist, il faut juste l’écrire dans la barre de recherche.</p>
      <p>Dans l’exemple ci-dessous, je cherche l’artist “Pokora”.</p>
      <img src="assets/imgTutorial/fr/Deezer/searchBarDeezerExemple.png" alt="Exemple d'une recherche sur Deezer">
      <p>Voila ce que j’obtient :</p>
      <img src="assets/imgTutorial/fr/Deezer/resultSearchDeezer.png" alt="Les résultats d'une recherche sur Deezer">

      <h2>Liste des albums d'un artist</h2>
      <p>Pour avoir la liste des albums d’un artist, il faut cliquer sur l’artist que l’on a recherché.</p>
      <p>Dans l’exemple ci-dessous, je veux les albums de “Pokora” donc je clique sur l’artist “Pokora.</p>
      <img src="assets/imgTutorial/fr/Deezer/wantAlbumsArtistDeezer.png" alt="Les albums d'un artist sur Deezer">
      <p>Après avoir cliquer sur l’artist, on arrive sur cette page :</p>
      <img src="assets/imgTutorial/fr/Deezer/artistPageDeezer.png" alt="La page de l'artist sur Deezer">
      <p>Cette page contient :</p>
      <ul>
        <li>L’image de l’artist</li>
        <li>Son nom</li>
        <li>Son nombre d’abonnés</li>
        <li>Un bouton permettant de retourner sur la page de recherche</li>
        <li>La liste de ces albums disponible sur Deezer</li>
      </ul>

      <h2>Liste des musiques d'un album</h2>
      <p>Pour avoir les musiques d’un album, il faut cliquer sur l’album dont on veut les musique.</p>
      <p>Dans l’exemple ci-dessous, je veux les musiques de l’album “Pyramide” de “Pokora” donc je clique sur l’album.</p>
      <img src="assets/imgTutorial/fr/Deezer/wantMusicsAlbumDeezer.png" alt="Les musiques d'un album sur Deezer">
      <p>Après avoir cliquer sur l’artist, on arrive sur cette page :</p>
      <img src="assets/imgTutorial/fr/Deezer/albumPageDeezer.png" alt="La page de l'album sur Deezer">
      <p>Cette page contient :</p>
      <ul>
        <li>L’image de l’album</li>
        <li>Son nom</li>
        <li>Un bouton permettant de retourner sur la page de l’artist de cette album</li>
        <li>Un bouton permettant d’ajouter toutes les musiques de l’album à la playlist</li>
        <li>Un bouton permettant de supprimer toutes les musiques de l’album de la playlist</li>
        <li>Un lecteur audio pour chaques musiques</li>
        <li>Un bouton a côté de chaques musiques permettant d’ajouter ou supprimer la musique de la playlist</li>
      </ul>

      <h2>Ajouter une musique à la playlist</h2>
      <p>Pour ajouter une musique Deezer dans notre playlist, il suffit de cliquer sur le bandeau vert “Ajouter à la Playlist”.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/Deezer/btnAddMusicDeezer.png" alt="Ajouter une musique Deezer à la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient rouge et une notification apparaît nous indiquant que la musique a bien été ajouter à notre playlist.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/Deezer/notifAddMusicDeezer.png" alt="Notification d'ajout de la musique dans la playlist">

      <h2>Supprimer une musique de la playlist</h2>
      <p>Pour supprimer une musique Deezer de notre playlist, il suffit de cliquer sur le bandeau rouge “Supprimer de la Playlist”.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/Deezer/btnDeleteMusicDeezer.png" alt="Supprimer une musique Deezer à la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient vert et une notification apparaît nous indiquant que la musique a bien été supprimer de notre playlist.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/Deezer/notifDeleteMusicDeezer.png" alt="Notification de supression de la musique de la playlist">
  </div>
</div>
