<div>
  <header>
    <h1>Mode d'emploi YouTube</h1>
  </header>
  <br>
  <div>
      <h2>Rechercher une vidéo</h2>
      <p>Pour rechercher un vidéo YouTube, il suffit d’écrire ce que l’on cherche dans la barre de recherche.</p>
      <img src="assets/imgTutorial/fr/YouTube/searchBarYoutube.png" alt="Barre de recherche YouTube">
      <p>Dans l’exemple ci-dessous, je recherche des vidéos Youtube de “Pokora”.</p>
      <img src="assets/imgTutorial/fr/YouTube/searchBarYoutubeExemple.png" alt="Barre de recherche YouTube rempli">
      <p>Après quelques secondes, voici ce que j’obtient :</p>
      <img src="assets/imgTutorial/fr/YouTube/resultSearchYoutube.png" alt="Les résultats de la recherche YouTube">
      <p>Cette liste de vidéos lié à notre recherche peut afficher jusqu’à 50 vidéos par recherche.</p>

      <h2>Ajouter une vidéo à la playlist</h2>
      <p>Pour ajouter une vidéo YouTube dans notre playlist, il suffit de cliquer sur le bandeau vert “Ajouter à la Playlist”.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/YouTube/btnAddVideoYoutube.png" alt="Bouton pour ajouter une vidéo YouTube dans la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient rouge et une notification apparaît nous indiquant que la vidéo a bien été ajouter à notre playlist.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/YouTube/notifAddVideoYoutube.png" alt="Notification pour dire que la vidéo choisie a bien été ajouté a la playlist">

      <h2>Supprimer une vidéo de la playlist</h2>
      <p>Pour supprimer une vidéo YouTube de notre playlist, il suffit de cliquer sur le bandeau rouge “Supprimer de la Playlist”.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/YouTube/btnDeleteVideoYoutube.png" alt="Bouton pour supprimer une vidéo YouTube de la playlist">
      <p>Une fois que l’on a cliquer sur le bouton, celui-ci devient vert et une notification apparaît nous indiquant que la vidéo a bien été supprimer de notre playlist.</p>
      <img class="smallSize" src="assets/imgTutorial/fr/YouTube/notifDeleteVideoYoutube.png" alt="Notification pour dire que la vidéo choisie a bien été supprimé de la playlist">
  </div>
</div>
